services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: home_page_nginx
    ports:
      - "80:8080"
    restart: unless-stopped
    read_only: true
    tmpfs:
      - /tmp
      - /var/cache/nginx:uid=1001,gid=1001
      - /var/run:uid=1001,gid=1001
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
