services:
  nginx:
    image: ${HOME_PAGE_IMAGE}
    container_name: home_page_nginx
    ports:
      - "80:8080"
    restart: unless-stopped
    mem_limit: 128m
    memswap_limit: 128m
    cpus: 0.25
    read_only: true
    tmpfs:
      - /tmp
      - /var/cache/nginx:uid=1001,gid=1001
      - /var/run:uid=1001,gid=1001
      - /var/log/nginx:uid=1001,gid=1001
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"